


.compact-button { 
 background-color: var(--color-surface-brand);
height: 40px;
width: 40px;
border-radius: 45px;
border: none;
}

.stepper { 
  display: flex;
  align-items: center;
  height: 40px;
  width: 125px;
  gap: 24px;
}

.stepper-button-minus {
  background-color: var(--color-surface-default);
  height: 40px;
  width: 40px;
  border-radius: 45px 0 0 45px;
  border: 1px solid var(--color-border-brand);
}

.stepper-button-plus {
  background-color: var(--color-surface-default);
  height: 40px;
  width: 40px;
  border-radius: 0 45px 45px 0;
  border: 1px solid var(--color-border-brand);
}

.show-more-button {
  background-color: var(--color-surface-brand-subtle);
  height: 40px;
  width: 125px;
  border-radius: 45px;
  border: none;
}