


.compact-button { 
 background-color: var(--color-surface-brand);
height: 2.5rem;
width: 2.5rem;
border-radius: 50%;
border: none;
  display: flex;           
  align-items: center;     
  justify-content: center; 
}

.stepper { 
  display: flex;
  align-items: center;
  height: 2.5rem;
  width: 7.5rem;
  gap: 1.5rem;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-paragraph-medium);
  border-top: 1px solid var(--color-border-brand);
  border-bottom: 1px solid var(--color-border-brand);
  border-radius: 9999px;
}

.stepper-button-minus {
      display: flex;           
  align-items: center;     
  justify-content: center; 
  background-color: var(--color-surface-default);
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50% 0 0 50%;
  border: 1px solid var(--color-border-brand);
}

.stepper-button-plus {
  background-color: var(--color-surface-default);
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 0 50% 50% 0;
  border: 1px solid var(--color-border-brand);
    display: flex;           
  align-items: center;     
  justify-content: center; 
}



.show-more-button {
  background-color: var(--color-surface-brand-subtle);
  height: 2.5rem;
  width: 7.5rem;
  border-radius: 9999px;
  border: none;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-paragraph-medium);
  color: var(--color-foreground-brand);
    display: flex;           
  align-items: center;     
  justify-content: center; 
}