


.compact-button { 
 background-color: var(--color-surface-brand);
height: 2.5rem;
width: 2.5rem;
border-radius: 50%;
border: none;
}

.stepper { 
  display: flex;
  align-items: center;
  height: 2.5rem;
  width: 7.5rem;
  gap: 1.5rem;
}

.stepper-button-minus {
  background-color: var(--color-surface-default);
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50% 0 0 50%;
  border: 1px solid var(--color-border-brand);
}

.stepper-button-plus {
  background-color: var(--color-surface-default);
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 0 50% 50% 0;
  border: 1px solid var(--color-border-brand);
}

.show-more-button {
  background-color: var(--color-surface-brand-subtle);
  height: 2.5rem;
  width: 7.5rem;
  border-radius: 9999px;
  border: none;
}