.cart-overlay {
    /* display: none; */
    margin-top: 1em;
    background-color: white;
    width: 100%;
    height: 100vh;
    justify-content: flex-end;
    z-index: 9999;

}

.total-box {
    padding: 10px;
    background-color: white;
    border: 1px solid var(--color-border-default);
}

.total-text {
    margin-top: .5em;
    display: flex;
    justify-content: space-between;
    padding-block-end: 1rem;
    border-block-end: 1px solid var(--color-border-default);
}

.detail-box {
    margin-top: .5em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}