.cart-overlay {
    display: none;
    position: fixed;
    background-color: white;
    width: 100%;
    height: 100vh;
    justify-content: flex-end;
    z-index: 9999;
}

.your-cart {
    display: flex;
    justify-content: space-between;

}
.total-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.total-box {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 1px solid var(--color-border-default);
}

.total-text {
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    padding-block-end: 1rem;
    border-block-end: 1px solid var(--color-border-default);
}

.detail-box {
    margin: 10px auto 10px;
    text-align: center;
    font-size: var(--font-size-paragraph-small);
}