
:root {
    /* Colors */

    /* Text/icon colors */
    --color-foreground-default: #333; 
    --color-foreground-subtle: #585858; 
    --color-foreground-brand: #9437BC; 
    --color-foreground-inverted: #FFFFFF;
    --color-foreground-pop: #D95353;
    --color-foreground-accent:#20734B;

    
    /* Surface/background colors */
    --color-surface-default: #FFFFFF;
    --color-surface-default-subtle: #CFCFCF;
    --color-surface-brand: #9437BC;
    --color-surface-brand-hover: #762C96;
    --color-surface-brand-subtle: #F3D7FF;
    --color-surface-pop: #D95353;
    --color-surface-accent:#20734B;
    --color-surface-accent-subtle: #D5F3E5;

    /* Border colors */
    --color-border-default: #CFCFCF;
    --color-border-brand: #9437BC;
    --color-border-inverted: #FFFFFF;

    /* Font families */
    --font-family-serif: "Domine", serif;
    --font-family-sans: "Instrument Sans", sans-serif;

    /* Font sizes */
    --font-size-heading-large: 1.625rem;
    --font-size-heading-medium: 1.125rem;

    --font-size-paragraph-medium: 1rem;
    --font-size-paragraph-small: 0.875rem;
    --font-size-paragraph-xsmall: 0.75rem;

    /* Spring animations */
    --animation-spring: linear(0, 0.402 7.4%, 0.711 15.3%, 0.929 23.7%, 1.008 28.2%, 1.067 33%, 1.099 36.9%, 1.12 41%, 1.13 45.4%, 1.13 50.1%, 1.111 58.5%, 1.019 83.2%, 1.004 91.3%, 1);

  }