header {
  display: flex;
  justify-content: space-between;
}

.top-nav {
  display: flex;
  align-items: center;
}

.top-nav img {
  padding: .5em;
  margin-top: 1em;
}

.top-nav span {
  color: #FFF;
  background: var(--color-surface-pop);
  font-size: smaller;
  border-radius: 5rem;
  border: 3px solid #FFF;
  padding: 0rem 0.3rem;
  position: absolute;
  right: 0;
  top: 1.3em;
}