header {
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
}

.top-nav {
  display: flex;
  align-items: center;
  background-color: aqua;
}

.top-nav img {
  padding: .5em;
  margin-top: 1em;
}

header span {
  color: #FFF;
  background: var(--color-surface-pop);
  font-size: x-small;
  border-radius: 5rem;
  border: 3px solid #FFF;
  padding: .05rem 0.25rem;
  position: absolute;
}