header {
  display: flex;
  justify-content: space-between;
  background-color: #FFF;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.top-nav {
  display: flex;
  align-items: center;
}

.top-nav img {
  padding: .5em;
  margin-top: .25em;
}

header span {
  color: #FFF;
  background: var(--color-surface-pop);
  font-size: x-small;
  border-radius: 5rem;
  border: 2px solid #FFF;
  padding: .05rem 0.25rem;
  position: relative;
  right: 2em;
}