header {
  display: flex;
  justify-content: space-between;
  background-color: #FFF;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.top-nav {
  display: flex;
  align-items: center;
}

.top-nav img {
  padding: .5em;
  margin-top: .25em;
}

.cart-wrap {
  position: relative;
  display: inline-flex;
  cursor: pointer;
}

#total-in-cart {
  color: #FFF;
  background: var(--color-surface-pop);
  font-size: x-small;
  border-radius: 5rem;
  border: 2px solid #FFF;
  padding: .05rem 0.25rem;
  height: 1.8em;
  min-width: 1.8em;
  position: absolute;
  right: .25em;
  top: .5em;
  opacity: 0;
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}