header {
  display: flex;
  justify-content: space-between;
  background-color: #FFF;
  position: sticky;
  top: 0;
  z-index: 1;
}

.top-nav {
  display: flex;
  align-items: center;
}

.top-nav img {
  padding: .5em;
  margin-top: .25em;
}

.cart-wrap {
  position: relative;
  display: inline-flex;
  cursor: pointer;
}

@keyframes added {
  0% {
    scale: 1;
  }

  100% {
    scale: 1.1;
  }
}

#total-in-cart {
  color: #FFF;
  background: var(--color-surface-pop);
  display: grid;
  place-items: center;
  font-size: x-small;
  border-radius: 5rem;
  border: 2px solid #FFF;
  height: 1.8em;
  width: 1.8em;
  position: absolute;
  right: .25em;
  top: .5em;
  opacity: 0;
  scale: 0.4;
  transition-property: opacity, scale;
  transition-duration: 0.4s;
  transition-timing-function: var(--animation-spring);

  &.added {
    animation: added 0.4s var(--animation-spring);
  }
}

header .search-box-header-hidden {
  display: none;
}

header .order-box-hidden {
  display: none;
}

@media (min-width: 1200px) { 
  header { 
    display: flex;
    align-items: center;
    justify-content: flex-start;

  }
  header .search-box-header-hidden {
      display: flex;
      align-items: center;
      margin: 11px 16px;
  }

  header .order-box-hidden {
      display: flex;
      align-items: center;
      padding: 0;
      margin-left: auto;
      gap: 8px;
      
  }

  header .order-update {
  display: flex;
  gap: 4px;
  }

  .arrow-img { 
  align-items: center;
  }

}



