.button-row {
  display: flex;
  padding: 0 16px;
  justify-content: space-between;
  align-items: flex-start;
  margin-block-end: 3.5rem;
}
.icon-button {
  background: none;   
  border: none;       
  padding: 0 16px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-img {
 width: 80px;
height: 80px;
aspect-ratio: 1/1;
}
.button-text {
  font-family: var(--font-family-sans);
  font-size: 14px;
  font-weight: 600;
  color: var(--color-foreground-default);
}
