.menu-container {
  display: none;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2rem;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  height: 100vh;
  background-color: white;
  flex-direction: column;
  padding: 2rem 1rem;
  z-index: 9999;
  overflow-y: auto;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.menu-item {
  font-size: var(--font-size-paragraph-medium);
  color: var(--color-text-primary);
  cursor: pointer;
}

.menu-item.pictures {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 0.5rem;
}

.menu-item-img {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  width: 100%;
}

.menu-item-img img {
  width: 60px;
  height: 60px;
}
.menu-item:hover {
  color: var(--color-text-accent);
}

hr {
  border: 1px solid #ccc;
  border-width: 0.5px;
}

.menu-container.active {
  display: flex;
}

.menu-nav.active .menu-icon {
  display: none;
}

.menu-nav.active::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;

  background-size: cover;
  transform: rotate(45deg);
  top: 0;
  left: 0;
}

.menu-span {
  cursor: pointer;
}
.menu-span img {
  width: 35px;
  height: 35px;
}

.menu-item.top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-item p {
  font-size: var(--font-size-paragraph-small);
}

.menu-button {
  border-radius: 20px;
  border: none;
}

.menu-item.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
