.offers {
    display: flex;
    gap: 16px;
}

.offer-card {
    background-image: url('/src/images/offer.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    border-radius: .5em;
    height: 12.9375rem;
}