.vertical .product-item {
  display: flex;
  gap: 0.5rem;
  padding-block-end: 1rem;
  border-block-end: 1px solid var(--color-border-default);

  & .product-image {
    width: 84px;
    height: auto;
  }

  &:last-child {
    padding-block-end: 0;
    margin-block-end: 0;
    border-block-end: none;
  }
}

.horizontal .product-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 70vw;
  flex-shrink: 0;

  & .product-image {
    width: 100%;
    height: auto;
  }

  & .product-info {
    gap: 1rem;
  }

  & .product-footer {
    flex-direction: column;
    gap: 16px;
  }
}

.product-item {
  & .description {
    font-size: var(--font-size-paragraph-small);
  }

  &.sale .sale-tag {
    display: block;
  }

  &.sale .active {
    color: var(--color-foreground-pop);
  }

  & .stepper {
    display: none;
  }

  & .product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }

  & .product-image-container {
    position: relative;
  }

  & .description {
    display: flex;
    gap: 8px;
  }

  & .sale-tag {
    position: absolute;
    background-color: var(--color-surface-pop);
    color: var(--color-foreground-inverted);
    font-size: var(--font-size-paragraph-xsmall);
    font-weight: 500;
    border-radius: 2px;
    padding-block: 2px;
    padding-inline: 4px;
    display: none;
  }

  & .meta-tag {
    font-size: var(--font-size-paragraph-xsmall);
    font-weight: 500;
    color: var(--color-foreground-accent);
    background: var(--color-surface-accent-subtle);
    border-radius: 50px;
    padding: 2px 6px;
  }

  & .product-price-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    & .active {
      font-weight: 700;
    }

    & .old-price {
      font-size: var(--font-size-paragraph-small);
      text-decoration: line-through;
    }
  }

  & .product-footer {
    display: flex;
    justify-content: space-between;
  }

  & .sale-price {
    color: var(--color-foreground-pop);
  }
}

/* Responsive design for desktop */

.product-list.vertical {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 500px) {
  .horizontal .product-item {
    width: 40vw;
  }

}

@media (min-width: 900px) {
  .product-list.vertical {
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    border: 1px solid var(--color-border-default);
    padding: 1.5rem 1rem 1rem 1rem;
    border-radius: 8px;
  }

  .product-list.vertical .product-item {
    border-bottom: 1px solid var(--color-border-default);
  }


  .product-list.vertical .product-item:nth-last-child(-n+2) {
    border-bottom: none;
  }

}