.product-list-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-block-end: 3.5rem;
    margin-top: 20px;
    height: auto;
    width: 100%;
  }
  .product-list {
    gap: 16px;
    padding-bottom: 16px;
    scroll-snap-type: x mandatory;
  }
  .vertical {
    display: flex;
    flex-direction: column;
  }
  .horizontal {
    display: grid;
    grid-auto-columns: calc(100% - 6rem);
    grid-auto-flow: column;
    grid-gap: 16px;
    overflow-x: auto;
  }

  .expiry-section .top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

  @media (min-width: 1200px) {
    .product-list.vertical {
      display: grid; 
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5rem;
      padding: 1.5rem 1rem 1rem 1rem;
      border-radius: 8px;
    }
  
    .product-list.vertical .product-item {
      border-bottom: 1px solid var(--color-border-default);
    }
  
    .product-list.vertical .product-item:nth-last-child(-n+3) {
      border-bottom: none;
    }
  }

  @media (min-width: 600px) {
    .horizontal {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-auto-flow: unset;
      grid-gap: 16px;
      overflow-x: auto;
    }
  }

  @media (min-width: 900px) {

  }