.product-list-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-block-end: 3.5rem;
    margin-top: 20px;
    height: auto;
    width: 100%;
  }
  .product-list {
    display: flex;
    gap: 16px;
    flex-direction: row;
  
    overflow-x: auto;
    padding-bottom: 16px;
    scroll-snap-type: x mandatory;
  }
  .vertical {
    flex-direction: column;
  }
  .horizontal {
    flex-direction: row;
    overflow-x: auto;
    padding-block-end: 16px;
  }
  .example-components {
    margin-top: 56px;
  }

  
  @media (min-width: 1200px) {
    .product-list.vertical {
      display: grid; 
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5rem;
      padding: 1.5rem 1rem 1rem 1rem;
      border-radius: 8px;
    }
  
    .product-list.vertical .product-item {
      border-bottom: 1px solid var(--color-border-default);
    }
  
  
    .product-list.vertical .product-item:nth-last-child(-n+3) {
      border-bottom: none;
    }
  }