.product-list {
    margin-bottom:32px;
}

.product-item {
    & .description {
        font-size: var(--font-size-paragraph-small);
    }

    & .stepper {
        display: none;
    }

    & .product-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
    }

    & .product-image-container {
        position: relative;
    }

    & .description {
        display: flex;
        gap: 8px;
    }

    & .sale-tag {
        position: absolute;
        background-color: var(--color-surface-pop);
        color: var(--color-foreground-inverted);
        font-size: var(--font-size-paragraph-xsmall);
        font-weight: 500;
        border-radius: 2px;
        padding-block: 2px;
        padding-inline: 4px;
    }

    & .meta-tag {
        font-size: var(--font-size-paragraph-xsmall);
        font-weight: 500;
        color: var(--color-foreground-accent);
        background: var(--color-surface-accent-subtle);
        border-radius: 50px;
        padding: 2px 6px;

    }

    & .product-price-container {
        & .active {
            font-weight: 700;
        }

        & .old-price {
            font-size: var(--font-size-paragraph-small);
            text-decoration:line-through;
        }
    }

    & .product-footer {
        display: flex;
        justify-content: space-between;
    }

    & .sale-price {
        color: var(--color-foreground-pop)
    }
}

.product-item.slim {
    display: flex;
    gap: 0.5rem;
    padding-block-end: 1rem;
    margin-block-end: 1rem;
    border-block-end: 1px solid var(--color-border-default);

    & #product-image {
        width: 84px;
        height: auto;
    }

    &:last-child {
        padding-block-end: 0;
        margin-block-end: 0;
        border-block-end: none;
    }
}

/* Added styles for the big product card */
.product-item.large {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80vw;
    flex-shrink: 0;

    & #product-image {
        width: 100%;
        height: auto;
    }

    & .product-info {
        gap:1rem;
    }

    & .product-footer {
        flex-direction: column;
        gap: 16px;
    }
}