.expiry-section .top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

#expiry-products-list {
    overflow-x: auto;
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

#expiry-products-list::-webkit-scrollbar {
    display: none;
}

.product-list.horizontal .product-item {
    min-width: 220px;
    flex-shrink: 0;
}