.top-nav img {
    padding: .5em;
    margin-top: 1em;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.left {
  margin-left: 1em;
}

.right {
  margin-right: 1em;
}
