@import './global-variables.css';

.product-item.slim {
    display: flex;
    gap: 0.5rem;

    & #product-image {
        width: 84px;
        height: auto;
    }

    & .description {
        font-size: var(--font-size-paragraph-small);
    }

    & .product-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
    }

    & .product-price {
        display: flex;
    }

    & .product-footer {
        display: flex;
        justify-content: space-between;
    }
}