@import './global-variables.css';

.product-list {
    margin-bottom:32px;
}

.product-item {
    & .description {
        font-size: var(--font-size-paragraph-small);
    }

    & .product-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
    }

    & .product-price {
        & .active {
            font-weight: 700;
        }

        & .old {
            font-size: var(--font-size-paragraph-small);
            text-decoration:line-through;
        }
    }

    & .product-footer {
        display: flex;
        justify-content: space-between;
    }

    & .sale {
        color: var(--color-foreground-pop)
    }
}

.product-item.slim {
    display: flex;
    gap: 0.5rem;

    & #product-image {
        width: 84px;
        height: auto;
    }
}

.product-item.large {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & #product-image {
        width: 100%;
        height: auto;
    }

    & .product-info {
        gap:1rem;
    }

    & .product-footer {
        flex-direction: column;
        gap: 16px;
    }
}