@import "./header.css";

@import "./global-variables.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  padding: 0em 1em;
  margin: 0 auto;
}

footer {
  margin-top: 3em;
  padding: 1em 0;
  border-top: 1px solid #ccc;
  text-align: center;
  gap: 2rem;

  background-color: var(--color-surface-brand-subtle);
}
h3 {
  font-family: var(--font-family-sans);
}

body,
html {
  height: 100%;
}
#app {
  flex: 1;
}
