@import './styles/header.css';
@import './styles/global-variables.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0em 1em;
}
.button-row {
  display: flex;
  gap: 24px;      
  margin-top: 32px;
}
.icon-button {
  background: none;   
  border: none;       
  padding: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-img {
  width: 130px;   
  height: auto;
}
.button-text {
  margin-top: 8px;
  font-size: var(--font-size-paragraph-medium);
  font-weight: 400;
}



