@import './styles/header.css';
@import './styles/global-variables.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0em 1em;
}
.button-row {
  display: flex;
  gap: 24px;      
  margin-top: 32px;
}
.icon-button {
  background: none;   
  border: none;       
  padding: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-img {
 width: 80px;
height: 80px;
aspect-ratio: 1/1;
}
.button-text {
  font-family: var(--font-family-sans);
  font-size: 14px;
  font-weight: 600;
  color: var(--color-foreground-default);
}






