@import './header.css';
@import './global-variables.css';
@import './product-card.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0em 1em;
}