@import "./styles/global-variables.css";
@import "./styles/header.css";
@import "./styles/greeting.css";
@import "./styles/offers.css";
@import "./styles/global-variables.css";
@import "./styles/product-card.css";
@import "./styles/buttons.css";
@import "./styles/cart-overlay.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-sans);
  font-weight: 500;
  max-width: 1400px;
  padding: 0em 1em;
   margin: 0 auto;
  color: var(--color-foreground-default)
}

.container-full {
  margin: 0 auto;
}

footer {
  position: relative;
  margin-top: 3em;
  padding: 1em 0;
  border-top: 1px solid #ccc;
  text-align: center;
  width: 100vw;
  margin: 0;
  gap: 2rem;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

  background-color: var(--color-surface-brand-subtle);
}

h1, h2 {
  font-family: var(--font-family-serif);
}
h1 {
  font-size: var(--font-size-heading-large);
}

h2 {
  font-size: var(--font-size-heading-medium);
}

h3, h4 {
  font-size: var(--font-size-paragraph-medium);
  font-weight: 500;
}

body,
html {
  height: 100%;
}

#app {
  flex: 1;
}

.product-list-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-block-end: 3.5rem;
}
.product-list {
  display: flex;
  gap: 16px;
}
.vertical {
  flex-direction: column;
}
.horizontal {
  flex-direction: row;
  overflow-x: auto;
  padding-block-end: 16px;
}
.example-components {
  margin-top: 56px;
}
.button-row {
  display: flex;
  padding: 0 16px;
  justify-content: space-between;
  align-items: flex-start;
}
.icon-button {
  background: none;   
  border: none;       
  padding: 0 16px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-img {
 width: 80px;
height: 80px;
aspect-ratio: 1/1;
}
.button-text {
  font-family: var(--font-family-sans);
  font-size: 14px;
  font-weight: 600;
  color: var(--color-foreground-default);
}








