@import './styles/global-variables.css';
@import './styles/header.css';
@import './styles/product-card.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0em 1em;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-paragraph-medium);
  color: var(--color-foreground-default);
  background-color: var(--color-surface-default);
}

h3 {
  font-size: var(--font-size-heading-medium);
  font-weight: 400;
}