@import "./styles/header.css";
@import "./styles/greeting.css";
@import './styles/global-variables.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: var(--font-family-sans "Domine", serif);
  background-color: #f6f6f6;

}


.page {
  width: 100%;
  max-width: 390px;
  margin: 1.5rem auto;

  background-color: var(--color-surface-default);

  border-radius: 28px;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
}