@import "./styles/global-variables.css";
@import "./styles/header.css";
@import "./styles/greeting.css";
@import "./styles/offers.css";
@import "./styles/product-card.css";
@import "./styles/buttons.css";
@import "./styles/cart-overlay.css";
@import "./styles/icon-buttons.css";
@import "./styles/product-list.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-sans);
  font-weight: 500;
  color: var(--color-foreground-default);
  max-width: 1400px;
  padding: 0em 1em;
  margin: 0 auto;
}

footer {
  position: relative;
  margin-top: 3em;
  padding: 1em 0;
  border-top: 1px solid #ccc;
  text-align: center;
  width: 100vw;
  margin: 0;
  gap: 2rem;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

  background-color: var(--color-surface-brand-subtle);
}

h1, h2, h3, h4 {
  font-weight: 500;
}

h1,
h2 {
  font-family: var(--font-family-serif);
}
h1 {
  font-size: var(--font-size-heading-large);
}

h2 {
  font-size: var(--font-size-heading-medium);
}

h3,
h4 {
  font-size: var(--font-size-paragraph-medium);
}

body,
html {
  height: 100%;
}

#app {
  flex: 1;
}

